/**
 * Slide Block Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$default-class-name: "radiofueguina-blocks-frontpage-column";

.radiofueguina-blocks-frontpage-column {
  display: inherit !important;
  flex: 1;

  &,
  & > .block-editor-inner-blocks,
  & > .block-editor-inner-blocks > .block-editor-block-list__layout {
    height: 100%;
  }

  & > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    & > .fleximple-blocks-post {
      flex: 1;
      height: 100%;
    }
  }
}
