/**
 * Slide Block Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$default-class-name: "radiofueguina-block-frontpage-column";

.radiofueguina-block-frontpage-column {
  display: inherit !important;
  flex: 1;

  &,
  & > .block-editor-inner-blocks,
  & > .block-editor-inner-blocks > .block-editor-block-list__layout {
    height: 100%;
  }

  .block-list-appender {
    margin: 20px 0 0;

    .block-editor-default-block-appender,
    .block-editor-default-block-appender__content {
      margin: 0;
    }
  }

  & > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-direction: column;

    & > * + * {
      margin-top: rem(20px) !important;
    }

    & > .fleximple-block-post {
      flex: 1;
      height: 100%;
    }

    & > .fleximple-block-post + .fleximple-block-post {
      margin-top: rem(20px) !important;
    }
  }

  .fleximple-block-post + &,
  & + &:not(main) {
    margin-top: rem(20px) !important;
  }
}

@media only screen and (min-width: 46.25em) {
  .radiofueguina-block-frontpage-column {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      & > .fleximple-block-post + .fleximple-block-post {
        margin-top: rem(12px) !important;
      }
    }

    .fleximple-block-post + & {
      margin-top: 0 !important;
    }

    & + &:not(main) {
      margin-left: 0 !important;
    }
  }
}

@media only screen and (min-width: 66.25em) {
  .radiofueguina-block-frontpage-column {
    & + &:not(main) {
      margin-top: 0 !important;
      margin-left: rem(20px) !important;
    }
  }
}
