/**
 * Slide Block Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$default-class-name: "radiofueguina-block-frontpage-row";

@media only screen and (min-width: 46.25em) {
  .radiofueguina-block-frontpage-row {
    display: inherit !important;

    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      display: flex;
      height: 100%;
      gap: 1.25rem;

      & > .wp-block:not(.block-list-appender) {
        flex: 1;
        margin: 0;
      }
    }

    &.is-two-halves
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout {
      & > .wp-block:not(.block-list-appender),
      & > .components-placeholder {
        flex: 0 1 calc((100% - 20px) / 2);
      }
    }

    &.is-two-and-one-thirds
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout
      > .wp-block:nth-child(2):not(.block-list-appender) {
      flex: 0 1 calc((100% - 40px) / 3);
    }

    &.is-one-and-two-thirds
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout
      > .wp-block:first-child:not(.block-list-appender) {
      flex: 0 1 calc((100% - 40px) / 3);
    }

    &.is-two-and-one-thirds
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout
      > .wp-block:nth-child(2):not(.block-list-appender),
    &.is-one-and-two-thirds
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout
      > .wp-block:first-child:not(.block-list-appender) {
      &
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout
        > #{$default-class-name} {
        flex: 0 1 4.75rem;

        &:first-child {
          flex: 2;
        }
      }
    }
  }
}
