/**
 * Slider Block Styles
 *
 * CSS for both frontend + backend.
 */

$default-class-name: "radiofueguina-blocks-frontpage-row";

@media only screen and (min-width: 46.25em) {
  .radiofueguina-blocks-frontpage-row {
    display: flex;
    gap: 1.25rem;

    & > * {
      flex: 1;
    }

    &.is-two-halves > .radiofueguina-blocks-frontpage-column {
      flex: 0 1 calc((100% - 20px) / 2);
    }

    &.is-two-and-one-thirds
      > .radiofueguina-blocks-frontpage-column:nth-child(2) {
      flex: 0 1 calc((100% - 40px) / 3);
    }

    &.is-one-and-two-thirds
      > .radiofueguina-blocks-frontpage-column:first-child {
      flex: 0 1 calc((100% - 40px) / 3);
    }

    &.is-two-and-one-thirds
      > .radiofueguina-blocks-frontpage-column:nth-child(2),
    &.is-one-and-two-thirds
      > .radiofueguina-blocks-frontpage-column:first-child {
      & > .fleximple-blocks-post {
        flex: 0 1 4.75rem;

        &:first-child {
          flex: 2;
        }
      }
    }
  }
}
