{
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 80,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.json", "*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["src/blocks/**/inline-styles.js"],
      "options": {
        "printWidth": 140
      }
    }
  ]
}
