/**
 * Slider Block Styles
 *
 * CSS for both frontend + backend.
 */

$default-class-name: "radiofueguina-block-billboard";

.radiofueguina-block-billboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.95;
  }

  .radiofueguina-block-billboard__overlay {
    width: 100%;
    padding: 0.75rem;
    margin: 1rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  }

  a {
    color: inherit !important;
    outline-color: white;
  }
}
