/**
 * Profile Block Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
@use "sass:math";

$default-class-name: "radiofueguina-block-frontpage-section";

.edit-post-layout:not(.supports-layout)
  .wp-block.radiofueguina-block-frontpage-section {
  max-width: var(--container__max-width--small, 480px);
}

.radiofueguina-block-frontpage-section {
  display: inherit !important;
  background-color: var(--white-rich);

  .block-list-appender {
    flex: 1;
  }

  &.#{$default-class-name}--placeholder {
    padding: 0;
  }

  &.is-selected
    .radiofueguina-block-frontpage-column
    > .block-editor-inner-blocks
    > .block-editor-block-list__layout,
  &.has-child-selected
    .radiofueguina-block-frontpage-column
    > .block-editor-inner-blocks
    > .block-editor-block-list__layout {
    & > .block-editor-block-list__block {
      margin: 0;
    }
  }

  &:not(.is-selected):not(.has-child-selected)
    .radiofueguina-block-frontpage-column
    > .block-editor-inner-blocks
    > .block-editor-block-list__layout {
    & > .block-editor-block-list__block {
      margin: 0;
    }
  }

  header.radiofueguina-block-frontpage-column {
    margin: 0;

    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      z-index: 10;

      & > .wp-block {
        margin-top: 0 !important;

        &:nth-child(3) {
          margin-left: auto !important;
        }

        &:nth-child(4),
        &:nth-child(5) {
          margin-left: var(--space-075) !important;
        }
      }
    }
  }

  main.radiofueguina-block-frontpage-column {
    margin: 0;

    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      &
        > .radiofueguina-block-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (min-width: 46.25em) {
  .edit-post-layout:not(.supports-layout)
    .wp-block.radiofueguina-block-frontpage-section {
    max-width: var(--container__max-width--medium, 740px);
  }

  .radiofueguina-block-frontpage-section {
    header.radiofueguina-block-frontpage-column
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout {
      justify-content: initial;
    }

    main.radiofueguina-block-frontpage-column
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout {
      &
        > .radiofueguina-block-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        & > .radiofueguina-block-frontpage-column:first-child {
          flex-basis: #{math.div(700 * 100, 1020)}#{"%"};
        }

        & > .radiofueguina-block-frontpage-column:nth-child(2) {
          flex-basis: #{math.div(300 * 100, 1020)}#{"%"};

          &
            > .block-editor-inner-blocks
            > .block-editor-block-list__layout
            > * {
            margin-bottom: 0;
          }

          &
            > .block-editor-inner-blocks
            > .block-editor-block-list__layout
            > *
            + * {
            margin-top: 1.25rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 66.25em) {
  .edit-post-layout:not(.supports-layout)
    .wp-block.radiofueguina-block-frontpage-section {
    max-width: var(--container__max-width--large, 1060px);
  }

  .radiofueguina-block-frontpage-section {
    header.radiofueguina-block-frontpage-column {
      .#{$default-class-name}__heading {
        flex-basis: #{math.div(240 * 100, 1020)}#{"%"};
      }
    }

    main.radiofueguina-block-frontpage-column
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout {
      &
        > .radiofueguina-block-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        flex-direction: row;
      }
    }
  }
}

@media only screen and (min-width: 81.25em) {
  .edit-post-layout:not(.supports-layout)
    .wp-block.radiofueguina-block-frontpage-section {
    max-width: var(--container__max-width--xlarge, 1300px);
  }

  .radiofueguina-block-frontpage-section {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      display: flex;
    }

    header.radiofueguina-block-frontpage-column {
      flex-basis: #{math.div(220 * 100, 1260)}#{"%"};
      margin-top: 0;
      margin-bottom: 0;

      .block-editor-inner-blocks .block-editor-block-list__layout {
        flex-direction: column;

        & > .wp-block {
          &:nth-child(2) {
            margin-top: var(--space-050) !important;
          }

          &:nth-child(3) {
            margin-top: var(--space-125) !important;
            margin-left: 0 !important;
          }

          &:nth-child(4),
          &:nth-child(5) {
            margin-top: var(--space-075) !important;
            margin-left: 0 !important;
          }
        }
      }
    }

    main.radiofueguina-block-frontpage-column {
      flex-basis: #{math.div(1020 * 100, 1260)}#{"%"};
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 1.25rem;

      &
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout
        > .radiofueguina-block-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        & > .radiofueguina-block-frontpage-column:first-child {
          flex-basis: #{math.div(700 * 100, 1020)}#{"%"};
        }

        & > .radiofueguina-block-frontpage-column:nth-child(2) {
          flex-basis: #{math.div(300 * 100, 1020)}#{"%"};

          &
            > .block-editor-inner-blocks
            > .block-editor-block-list__layout
            > .block-editor-block-list__block
            + .block-editor-block-list__block {
            margin-top: 1.25rem;
          }
        }
      }
    }
  }
}
