/**
 * Profile Block Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
@use "sass:math";

$default-class-name: "radiofueguina-blocks-frontpage-section";

.edit-post-layout:not(.supports-layout)
  .wp-block.radiofueguina-blocks-frontpage-section {
  max-width: var(--container__max-width--small, 480px);
}

.radiofueguina-blocks-frontpage-section {
  display: inherit !important;
  background-color: var(--white-rich);

  &.#{$default-class-name}--placeholder {
    padding: 0;
  }

  header.radiofueguina-blocks-frontpage-column {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      gap: 0;
      z-index: 10;

      & > .wp-block {
        margin-block: 0;

        &:nth-child(3) {
          margin-left: auto;
        }

        &:nth-child(4),
        &:nth-child(5) {
          margin-left: var(--space-075);
        }
      }
    }
  }

  main.radiofueguina-blocks-frontpage-column {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      &
        > .radiofueguina-blocks-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (min-width: 46.25em) {
  .edit-post-layout:not(.supports-layout)
    .wp-block.radiofueguina-blocks-frontpage-section {
    max-width: var(--container__max-width--medium, 740px);
  }

  .radiofueguina-blocks-frontpage-section {
    header.radiofueguina-blocks-frontpage-column
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout {
      justify-content: initial;
    }

    main.radiofueguina-blocks-frontpage-column
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout {
      &
        > .radiofueguina-blocks-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        & > .radiofueguina-blocks-frontpage-column:first-child {
          flex-basis: #{math.div(700 * 100, 1020)}#{"%"};
        }

        & > .radiofueguina-blocks-frontpage-column:nth-child(2) {
          flex-basis: #{math.div(300 * 100, 1020)}#{"%"};
        }
      }
    }
  }
}

@media only screen and (min-width: 66.25em) {
  .edit-post-layout:not(.supports-layout)
    .wp-block.radiofueguina-blocks-frontpage-section {
    max-width: var(--container__max-width--large, 1060px);
  }

  .radiofueguina-blocks-frontpage-section {
    header.radiofueguina-blocks-frontpage-column {
      .#{$default-class-name}__heading {
        flex-basis: #{math.div(240 * 100, 1020)}#{"%"};
      }
    }

    main.radiofueguina-blocks-frontpage-column
      > .block-editor-inner-blocks
      > .block-editor-block-list__layout {
      &
        > .radiofueguina-blocks-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        flex-direction: row;
      }
    }
  }
}

@media only screen and (min-width: 81.25em) {
  .edit-post-layout:not(.supports-layout)
    .wp-block.radiofueguina-blocks-frontpage-section {
    max-width: var(--container__max-width--xlarge, 1300px);
  }

  .radiofueguina-blocks-frontpage-section {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      display: flex;
    }

    header.radiofueguina-blocks-frontpage-column {
      flex-basis: #{math.div(220 * 100, 1260)}#{"%"};

      .block-editor-inner-blocks .block-editor-block-list__layout {
        flex-direction: column;

        & > .wp-block {
          &:nth-child(3) {
            margin-top: var(--space-125);
            margin-left: 0;
          }

          &:nth-child(4),
          &:nth-child(5) {
            margin-top: var(--space-075);
            margin-left: 0;
          }
        }
      }
    }

    main.radiofueguina-blocks-frontpage-column {
      flex-basis: #{math.div(1020 * 100, 1260)}#{"%"};

      &
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout
        > .radiofueguina-blocks-frontpage-row
        > .block-editor-inner-blocks
        > .block-editor-block-list__layout {
        & > .radiofueguina-blocks-frontpage-column:first-child {
          flex-basis: #{math.div(700 * 100, 1020)}#{"%"};
        }

        & > .radiofueguina-blocks-frontpage-column:nth-child(2) {
          flex-basis: #{math.div(300 * 100, 1020)}#{"%"};
        }
      }
    }
  }
}
